
header {
    border-bottom: #808080 2px solid;
    box-shadow: 0px 2px 3px rgba(17, 17, 26, 0.095);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    background: #2D2D2D;
    margin: auto;
}

.header__container {
    margin: auto;
    width: 180rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 80px;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

header a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-weight: 500;
    /* transition: all 0.3s linear; */
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    letter-spacing: 0.75px;
    transition: color 0.3s linear;
}

header a:hover {
    color: #AC6CFF;
    /* color: white; */
}

header a::after {
    transition: all 0.3s linear;
    content: "";
    position: absolute;
    width: 0%;
    bottom: -5px;
    left: 0;
    height: 0.3rem;
    background-color: #0062ff;
}

header a:hover::after {
    width: 100%;
}

.header__nav-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -16px;
    

}

header .display{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    gap: 35px;
}

header .display button:nth-child(2){
    padding: 10px 18px;
    border: none;
    transition: 0.3s all linear;
    border-radius: 115px;
}

header #hw:hover{
    color: white;
}

#hw{
    color: #AC6CFF;
}

header .display button:nth-child(2):hover{
    background-color: #FFF !important;
     color:  #ac6cff !important;
}
