.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1600px) {
  body {
    margin: 0;
  }

  .hero-grid {
    gap: 80px;
    max-width: 1400px;
  }

  .hero-img::before {
    right: -25%;
    width: 350px;
    height: 400px;
  }

  .header__container {
    width: 100%;
    max-width: 1600px;
  }
}

@media screen and (max-width: 1400px) {
  .header__container {
    width: 100%;
    padding: 33px 40px;
  }

  .dot {
    display: none;
  }

  .hero-grid {
    gap: 60px;
    max-width: 1200px;
    padding: 0 20px;
  }

  .hero-text h1 {
    font-size: 52px;
  }

  .threecon {
    gap: 80px;
  }

  .logo-row-container {
    max-width: 1200px;
    flex-wrap: wrap;
    text-align-last: center;
    gap: 55px;
  }

  .two_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--ac);
    max-width: 260px;
    height: 280px;
    border-radius: 20px;
  }

  .two .two_card>figure>figcaption {
    font-size: 19px !important;
  }

  .footersec1 {
    max-width: 1400px;
    gap: 50px;
  }

  .footersec2 {
    width: 100%;
    max-width: 1400px;
  }

  .aone,
  .atwo,
  .athree {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  header ul {
    gap: 40px;
  }

  header a {
    font-size: 16px;
  }

  .hero-text h1 {
    font-size: 48px;
  }

  .hero-text p {
    font-size: 17px;
  }

  .hero-img img {
    height: 450px;
  }

  .hero-img::before {
    width: 300px;
    height: 350px;
    right: -20%;
  }

  .threecon {
    gap: 60px;
  }

  .threeimg {
    width: 450px;
    height: 430px;
  }

  .threecontent h3 {
    font-size: 42px;
  }

  .figure4sec {
    gap: 150px;
  }

  .footersec1 {
    gap: 40px;
    padding: 60px 40px 37px 40px;
  }

  .footersec2 {
    font-weight: 500 !important;
    width: 100%;
    max-width: 1200px;
    padding: 30px 40px;
  }

  .two_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--ac);
    width: 220px;
    height: 280px;
    border-radius: 20px;
  }

  .two {
    padding: 50px 0 80px 0;
  }

  .two .two_card>figure>figcaption {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 1024px) {
  .header__container {
    padding: 25px 30px;
  }

  header ul {
    gap: 30px;
  }

  header a {
    font-size: 15px;
  }

  .hero {
    padding: 60px 0 70px 0;
  }

  .hero-grid {
    gap: 30px;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 44px;
  }

  .hero-img img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }

  .hero-img::before {
    display: none;
  }

  .buttonhero {
    justify-content: center;
    gap: 25px;
  }

  .logo-row-container {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .twocard_con {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .threecon {
    flex-direction: column;
    gap: 40px;
  }

  .three {
    padding: 0 50px;
  }

  .threeimg {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

  .atwo .threeimg {
    order: 0 !important;
  }

  .threecontent {
    max-width: 100%;
    text-align: center;
  }

  .figure4sec {
    gap: 100px;
  }

  .card6 {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .seven>div {
    gap: 200px;
  }

  .seven .sevencon {
    text-align: center;
  }

  .footersec1 {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  footer {
    text-align: center;
  }

  footer .col1 {
    display: grid !important;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  footer .header__logo {
    justify-content: center;
  }

  footer .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .col {
    h4 {
      padding: 0 !important;
      margin-left: 0;
    }

    ul {
      padding: 0 !important;

    }
  }

  .col4 ul li:nth-child(1) i {
    font-size: 18px;
    margin-left: 0px !important;
  }

  .col4 ul li:nth-child(2) i,
  .col4 ul li:nth-child(3) i {
    width: 30px !important;
    height: 30px;
    font-size: 15px;
  }

  .dot3,
  .dot4 {
    display: none;
  }

  /* .hero-grid{
    padding-top: 0;
  } */
  .hero .hero-grid {
    display: flex !important;
    flex-direction: column;
  }

  .hero-grid .positionrel {
    order: -1;
  }
}

@media screen and (max-width: 768px) {

  /* Hero Section */
  .hero {
    padding: 40px 0 50px 0;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .buttonhero {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .buttonhero button {
    width: 100%;
    max-width: 300px;
  }

  /* Section One */
  .one h2 {
    font-size: 28px;
    text-align: center;
    padding: 0 20px;
  }

  .logo-row-container {
    gap: 20px;
    padding: 20px 15px;
  }

  .icon-circle {
    width: 60px;
    height: 60px;
    margin: 0 5px;
  }

  .icon-circle i {
    font-size: 30px;
  }

  /* Section Two */
  .two {
    padding: 60px 20px 80px 20px;
  }

  .two h2 {
    font-size: 32px;
    text-align: center;
  }

  .two p {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px;
  }

  .twocard_con {
    flex-direction: column;
    align-items: center;
  }

  .two_card {
    width: 100%;
    width: 350px;
  }

  /* Section Three */
  .aone,
  .atwo,
  .athree {
    padding: 60px 20px;
  }

  .three article h2 {
    font-size: 32px;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .three article h2 span:nth-child(2) {
    width: 120px;
    margin: 0 auto;
  }

  .threecontent h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .threecontent p {
    padding-bottom: 30px;
  }

  /* Section Four */
  .four {
    padding: 60px 20px;
  }

  .four h3 {
    font-size: 28px;
    margin-bottom: 50px;
  }

  .figure4sec {
    flex-direction: column;
    gap: 50px;
  }

  /* Section Five */
  .five {
    padding: 70px 20px;
  }

  .five h2 {
    font-size: 32px;
    text-align: center;
    padding: 0 20px;
  }

  .five>div {
    padding: 30px 40px;
    width: 100%;
    max-width: 600px;
  }

  .five>div p {
    font-size: 18px;
    text-align: center;
  }

  /* Section Six */
  .six {
    padding: 50px 20px 80px 20px;
  }

  .six>h2 {
    font-size: 32px;
    text-align: center;
  }

  .six>p {
    text-align: center;
  }

  .card6sec {
    max-width: 100%;
    width: 100%;
  }

  .card6 li {
    max-width: 100%;
  }

  /* Section Seven */
  .seven {
    padding: 60px 30px 35px 30px;
  }

  .seven h2 {
    font-size: 28px;
    text-align: center;
  }

  .seven>div,
  .seven .sevencon {
    flex-direction: column;
    gap: 40px;
  }

  .seven p {
    text-align: center;
  }

  /* Footer */
  .footersec1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px 37px 20px;
  }

  .col:nth-child(2),
  .col:nth-child(3),
  .col:nth-child(4) {
    align-items: center;
  }

  footer h4 {
    margin-left: 0;
    text-align: center;
  }

  .col ul {
    align-items: center;
  }

  .col4 ul li {
    justify-content: center;
    text-align: center;
  }

  .footersec2 {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 30px 20px;
  }

  .grandfootersec2 {
    width: 90%;
  }

  .dot1,
  .dot2 {
    display: none;
  }

  .divp {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 576px) {

  .four figure>div {
    height: 85px;
    width: 85px;
  }

  /* Header */
  .header__container {
    padding: 15px;
  }

  .header__logo strong {
    font-size: 22px !important;
  }

  .header__logo img {
    width: 35px;
  }

  header a {
    font-size: 14px;
  }

  .display {
    gap: 20px !important;
  }

  .display a {
    font-size: 14px;
  }

  header .display button:nth-child(2) {
    padding: 8px 14px;
    font-size: 14px;
  }

  /* Hero */
  .hero-text h1 {
    font-size: 32px;
    line-height: 1.2;
  }

  .hero-text p {
    font-size: 15px;
  }

  button {
    font-size: 15px;
    padding: 18px 35px;
  }

  .buttonhero button:nth-child(1),
  .buttonhero button:nth-child(2) {
    font-size: 15px;
    padding: 18px 35px;
  }

  /* Section One */
  .one {
    padding: 44px 0 34px;
  }

  .one h2 {
    font-size: 24px;
  }

  .logo-row-container {
    flex-direction: column;
    gap: 15px;
  }

  .icon-circle {
    width: 70px;
    height: 70px;
  }

  /* Section Two */
  .two h2 {
    font-size: 28px;
  }

  .two p {
    font-size: 18px;
  }

  .two_card {
    /* width: 100%; */
    width: 260px;
    height: 230px;
  }

  .two figcaption {
    font-size: 20px;
  }

  /* Section Three */
  .three article h2 {
    font-size: 28px;
  }

  .three article h2 span:nth-child(2) {
    width: 100px;
  }

  .threecontent h3 {
    font-size: 28px;
  }

  .threecontent p {
    font-size: 16px;
  }

  /* Section Four */
  .four h3 {
    font-size: 24px;
  }

  .four figcaption strong {
    font-size: 26px;
  }

  .four figcaption p {
    font-size: 18px;
  }

  /* Section Five */
  .five h2 {
    font-size: 26px;
  }

  .five>div {
    padding: 25px 20px;
  }

  .five>div p {
    font-size: 16px;
  }

  .img_5 figcaption strong {
    font-size: 18px;
  }

  .img_5 figcaption p {
    font-size: 14px;
  }

  /* Section Six */
  .six>h2 {
    font-size: 28px;
  }

  .six>p {
    font-size: 18px;
  }

  .card6 h3 {
    font-size: 20px;
  }

  .card6 strong {
    font-size: 25px;
  }

  .card6 li {
    font-size: 16px;
    line-height: 140%;
  }

  .card6sec {
    padding: 20px 12px;
  }

  /* Section Seven */
  .seven {
    padding: 50px 20px 30px 20px;
  }

  .seven h2 {
    font-size: 24px;
  }

  /* Footer */
  footer h4 {
    font-size: 18px;
  }

  .col ul {
    font-size: 16px;
  }

  .col1 p {
    font-size: 16px;
    line-height: 160%;
    width: 100%;
    padding: 0 5px;
    margin-top: 20px;
  }

  footer ul {
    margin-top: 7px !important;
    margin: 0;
  }

  footer .col4 {
    margin-top: 18px;
  }

  .footersec2 {
    font-size: 16px;
  }

  .six p:nth-child(2) {
    font-size: 15px;
  }

  .three article>h2 {
    font-weight: 700;
  }

  .three article h3 {
    font-size: 25px !important;
    font-weight: 600;
  }

  .three {
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  button i {
    display: none !important;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text p {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 16px 30px;
  }

  .buttonhero button:nth-child(1),
  .buttonhero button:nth-child(2) {
    font-size: 14px;
    padding: 16px 30px;
  }

  .one h2 {
    font-size: 22px;
  }

  .two h2,
  .three article h2,
  .five h2,
  .six>h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .threecontent h3 {
    font-size: 26px;
  }

  .icon-circle {
    width: 60px;
    height: 60px;
  }

  .icon-circle i {
    font-size: 26px;
  }

  .card6 strong {
    font-size: 32px;
  }

  .col1 p {
    width: 100%;
  }

  .five>div {
    padding: 20px 15px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  * {
    max-width: 100%;
  }

  .hero-grid,
  .container {
    overflow: visible;
  }
}

@media screen and (max-height: 500px) {
  .hero {
    padding: 40px 0 30px;

  }

  .hero-text h1 {
    font-size: 28px;
  }

  .hero-img img {
    max-height: 300px;
  }

  .buttonhero {
    flex-direction: row;
    gap: 15px;
  }
}

@media screen and (max-height: 1415px) {
  .dot {
    display: none;
  }
}

@media screen and (max-width: 1450px) {
  .seven>div {
    display: flex;
    justify-content: center;
    gap: 500px;
    align-items: center;
  }
}

@media screen and (max-width: 1300px) {
  .seven>div {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
  }

  footer div:nth-child(2) p,
  footer :is(div:nth-child(2), div:nth-child(4), div:nth-child(3)) a {
    font-size: 16px;
  }
}

@media screen and (max-height: 1250px) {
  .threecontent p {
    padding-bottom: 30px;
  }

  article.aone,
  article.atwo,
  article.athree {
    padding: 70px 20px 0px 20px;
  }

  article.athree {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 300px) {
  .card6sec ul>li {
    font-size: 14px;
  }

  .two {
    padding: 60px 5px 80px 5px;
  }

  .two_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--ac);
    max-width: 220px;
    height: 280px;
    border-radius: 20px;
  }

}

@media screen and (max-width: 400px) {
  .buttonhero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;

    button {
      width: 65%;
    }
  }
}

@media screen and (max-width: 950px) {
  .header__container {
    flex-direction: column;
    gap: 27px;
    justify-content: center;
    align-items: center;
  }

  .header__navlistcontent {
    gap: 20px;
    margin-bottom: 10px;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    padding: 0;
  }

  .header__nav-primary {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .display {
    /* gap: 27px; */
    margin-bottom: 20px;
    gap: 20px;
    flex-direction: column;
  }

  .hero {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 1015px) {
  .seven {
    padding: 70px 25px 28px 25px;
  }

  .seven>div {
    display: flex;
    justify-content: space-between;
    gap: 0;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 412px) {
  button i {
    display: none !important;
  }
}

@media screen and (max-width: 353px) {
  .hero h1 {
    /* display: none !important; */
    font-size: 25px;
  }

  .footersec2 {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 989px) and (min-width: 950px) {
  .twocard_con {
    margin: 0 35px;
  }
}
